h2{
    font-size: 8rem;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;

    overflow-x:unset;
    animation: hide-overflow 10s linear forwards;
    animation-timeline: view();
}

/* STYLE 1 */

.style1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.style1 #head{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.style1 #body{
    display: flex;
    flex-direction: row;
    gap: 2rem;

    background-color: rgb(241, 241, 241);
    border-radius: 2rem;
    padding: 4rem;
    overflow: hidden;
}

.style1 h2{
    font-size: 3rem;
}

.style1 img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.style1 #text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.style1 #title{
    font-size: 8rem;
}

.style1 button{
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 2px black solid;
    cursor: pointer;
}

.style1 button:hover{
    color: red;
    border-color: red;
    transition: 150ms;
}

/* STYLE 2 */

.style2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: 4rem;
    gap: 2rem;
}

.style2 h2{
    font-size: 8rem;
}

.style2 #head{
    transform: rotate(-90deg) translateX(-20rem);
    transform-origin: left;
    width: 10rem;
    height: 1rem;
    text-align: end;
    z-index: 2;
}

.style2 #body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.style2 #text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.style2 #title{
    font-size: 2rem;
    align-self: flex-end;
}

.style2 img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.style2 button{
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 2px black solid;
    cursor: pointer;
}

.style2 button:hover{
    color: red;
    border-color: red;
    transition: 150ms;
}

.style2 img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

/* STYLE 3 */

.style3{
    position: relative;

}

.style3 #head {
    position: sticky;
    top: 25vh;
    z-index: -10;

    animation: title-enlarge 2s forwards;
    animation-timeline: view();
    animation-range: enter;
    animation-direction: normal;
}

.style3 #body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    gap: 2rem;

    animation: content-enlarge 2s forwards;
    animation-timeline: view();
    animation-range: enter;
    animation-direction: normal;
}

.style3 #text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.style3 #title{
    font-size: 3rem;
    justify-self: flex-start;
}

.style3 h2{
    font-size: 15rem;
    text-align: center;
}

.style3 button{
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    color: black;
    border: 2px white solid;
    cursor: pointer;
}

.style3 button:hover{
    color: red;
    border-color: red;
    transition: 150ms;
}

.style3 img{
    width: 80%;
    height: auto;
    border-radius: 2rem;
}

/* STYLE 4 */

.style4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 4rem;
    gap: 2rem;
}

.style4 h2{
    font-size: 8rem;
}

.style4 #head{
    align-self: start;
    height: .001rem;
    transform: translateY(.5rem);
    z-index: 2;
}

.style4 #body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.style4 #text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.style4 #title{
    font-size: 2rem;
    align-self: flex-end;
}

.style4 img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.style4 button{
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 2px black solid;
    cursor: pointer;
}

.style4 button:hover{
    color: red;
    border-color: red;
    transition: 150ms;
}

.style4 img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

/* STYLE 5 */

.style5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 4rem;
    gap: 2rem;
}

.style5 h2{
    font-size: 8rem;
}

.style5 #head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.style5 #body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

    background-color: rgb(241, 241, 241);
    border-radius: 2rem;
    padding: 4rem;
    overflow: hidden;
}

.style5 #text{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.style5 h2 {
    font-size: 3rem;
}

.style5 #title{
    font-size: 2rem;
    align-self: flex-end;
}

.style5 img{
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.style5 button{
    border-style: none;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 2px black solid;
    cursor: pointer;
}

.style5 button:hover{
    color: red;
    border-color: red;
    transition: 150ms;
}

.style5 img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    order: 3;
}

/* ANIMATIONS */

@media (prefers-reduced-motion: no-preference) {
    .style1 > *, .style2 > *, .style4 > *, .style5 > *{
        opacity: 0;
        translate: 0 200px;
        animation: fade-in 10s linear forwards;
        animation-timeline: view();
        animation-range: entry 0px 325px;
    }   

    .style3 #text, .style3 button {
        color: white;

    }

    @keyframes title-enlarge {
        35% { scale: 1;}
        50% {scale: 100; opacity: 1; transform: translateY(0);}
        100% {scale: 100; opacity: 1; visibility: hidden; transform: translateY(20rem);}
    }

    @keyframes content-enlarge {
        0% {scale: 0.01;}
        50% {scale: 1;}
        50% {opacity: 1;}
        100% {opacity: 0;}
    }

    @keyframes hide-overflow {
        0% {overflow: visible;}
        .1% {overflow: visible;}
        100% {overflow: hidden;}
    }
}