.slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.card-holder {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;
    cursor: grab;
    user-select: none;
    will-change: transform;
    white-space: nowrap;
    width: max-content;
    transform: translateX(0);
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    min-width: 200px;
    scroll-snap-align: center;
}

.img {
    height: 2rem;
    width: auto;
}

/* Mobile-specific adjustments */
@media (max-width: 720px) {
    .card-holder {
        gap: 0rem;
        overflow-x: auto;
        touch-action: pan-x;
    }

    .card {
        font-size: 1rem;
        min-width: 150px;
    }

    .img {
        height: 2rem;
        width: auto;
    }
}
